html,
body {
  text-align: center;

  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
section {
  width: 450px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: wheat;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px 20px;

  height: 50px;
  width: 450px;
  margin: auto;
  padding: 10px;
  background-color: olivedrab;
  font-size: 30px;
}
#board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, fr);
  gap: 2px;

  margin: auto;
  padding: 5px;
  background-color: #859241;
}
.btn {
  height: 40px;
  width: 40px;
  align-content: center;
  background-color: lightblue;
  background-position: center;
  border-radius: 20px;
  border: 20p solid black;
}
#hovClick {
  height: 50px;
  margin: auto;
  padding: 10px 2px;
  background-color: lightblue;

  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 1fr;
}
#whole-board {
  width: 350px;
}
#start {
  width: 80px;
  height: 80px;
  margin: auto;
  padding: 5px;
  font-size: 20px;
  background: teal;
}
#trangle-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid rgb(174, 150, 150);
  grid-column-start: 1;
}
#bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px 20px;

  height: 50px;
  width: 450px;
  margin: auto;
  padding: 10px;
  background-color: olivedrab;
}
.column {
  display: flex;
  flex-direction: column-reverse;
}
.column:hover {
  background-color: wheat;
}
#turn {
  color: red;
  font-size: 20px;
}
#winner {
  font-size: 20px;
}
